.wrapper {
    display: grid;
    grid-template-rows: 75px 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    min-height: 100vh;
}

header {
    background-color: #b85c7919;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

main {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}

.image1 {
    background-image: url("../../images/italy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 5;
}

.image2 {
    background-image: url("../../images/carbonara.jpg");
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}

aside {
    
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

section {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;

    display: grid;
    align-content: center;
    justify-content: center;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'italiana', 'times new roman', serif;
    color:#b85c79
}

p {
    font-family: 'DM Serif Display', 'times new roman', serif;
    padding-left: 20px;
    padding-right: 20px;
}

ol {
    font-family: 'DM Serif Display', 'times new roman', serif;
}

ul {
    font-family: 'DM Serif Display', 'times new roman', serif;
    padding-left: 60px;
}
img {
    max-width: 80px;
    float: right;
    padding: 10px;
    padding-right: 20px;
}

body {
    margin: 0;
    background-image: radial-gradient(circle, #ff93c0, #ffe7c7, #f997b6);
}
