body {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration-color: #371f0e;
        background-color: #ffc1d4;
    }
            
    h1 {
            color: #fce3eb;
            text-shadow: #f997b6 2px 2px 0px, #371f0e 4px 4px 0px;
            background-color: #371f0e;
            padding: .5rem;
            max-width: fit-content;
                text-transform: lowercase;
                letter-spacing: 0.25rem;
                word-spacing: .15em;
            font-family: Idiqlat, Arial, sans-serif;
    }
    h2 {
            color: #371f0e;
            background-color: #f997b6;
            padding: .25rem;
            max-width: fit-content;
                text-transform: lowercase;
                letter-spacing: 0.1rem;
                word-spacing: .1em;
            font-family: Idiqlat, Arial, sans-serif;
        }

        p {
                margin: 1.5rem;
                padding-left: 1.3rem;
                padding-right: 1.3rem;
                line-height: 1.5rem;
                font-family: Alyamama, Arial, sans-serif;
         }

            img {
                float: right;
                border: 2px solid #371f0e;
                max-width: 100%;
            }
            figure {
                float: right;
                ;
                margin: 1.5rem;

                max-width: 50%;
            }
            figcaption {
                background-color: #f997b6;
                padding: .2rem;
                font-family: Alyamama, Arial, sans-serif;
                text-align: center;
                
            }
            hr {
                border: 1px dashed #371f0e;
            }

    a:link {
        color: #371f0e;
        background-color: transparent;
        text-decoration: underline;
        text-decoration-color: #371f0e;
        text-decoration-thickness: 1.5px;
    }
    a:visited {
        color: #fce3eb;
    }
    a:hover {
        color: #f997b6;
        background-color: #ffffff;
        text-decoration: underline;
        text-decoration-color: #f997b6;
        text-decoration-thickness: 1px;
    }
    a:active {
        color: #8d9c5e;
    }