body {
                font-family: Arial, Helvetica, sans-serif;
                background-color: #fdcfdc;
            }
            
            h1 {
                color: #371f0e;
                background-color: #ff8ba3;
                padding: 1.5rem;
            }

            h2 {
                color: #371f0e;
                background-color: #ff8ba3;
                padding: .25rem;
            }

            p {
                margin: 1.5rem;
            }

            img {
                float: left;
                border: 2px solid #371f0e;
                margin: .65rem;
                max-width: 100%;
            }
            hr {
                border: 1px dashed #371f0e;
            }