/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Dark: #45494C;
	--Darkest: #000000;
	--Light: #DADEE1;
	--Medium: #A4AAAE;
	--FontFamily: Arial, Avenir, Myriad;
	--LogoImage: url('../Images/accessibility-logo.png');
	--LogoImagePrint: url('../Images/accessibility-logo.png');
	--Secondary: #f5f5f5;
	--Lightest: #f5f5f5;
	--HeroImage: url('../Images/backgroundimg.png');
	--Primary: #041d47;
}

