/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Dark: #45494C;
	--Darkest: #000000;
	--Light: #DADEE1;
	--Lightest: #FFFFFF;
	--Medium: #A4AAAE;
	--FontFamily: Arial, Avenir, Myriad;
	--LogoImage: url('../Images/accessibility-logo.png');
	--HeroImage: url('../Images/hero-image.png');
	--LogoImagePrint: url('../Images/accessibility-logo.png');
	--Secondary: #f5f5f5;
	--Primary: #a9d6f6;
}

